@use "../tools" as t;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  @include t.fluid-prop("padding-top", 12, 15, 320, 768);
  @include t.fluid-prop("padding-bottom", 12, 15, 320, 768);
  border-radius: 8px;
  background-color: t.$colorAccent;

  &__text {
    font-size: 14px;
    letter-spacing: 0.3px;
  }
}
