@use "../tools" as t;

.contacts {
  &__list {
    @include t.flex-mix(flex-start, flex-start, column, 10px);
  }

  &__item {
    color: rgba(t.$colorWhite, 0.8);
    line-height: 1;
    @include t.fluid-prop("font-size", 14, 16, 320, 768);
    @include t.flex-mix(flex-start, center, row, 12px);

    @media (max-width: 576px) {
      gap: 10px;
    }
  }

  &__svg {
    width: 14px;
    height: 14px;
    fill: t.$colorAccent;
    stroke: none;
  }

  &__address {
  }

  &__phone,
  &__email {
    position: relative;
    line-height: 1.2;
     transition:
      transform 0.3s ease,
      color 0.3s ease;

    &::before {
      z-index: 1;
      position: absolute;
      left: 0;
      max-width: 0;
      height: 100%;
      overflow: hidden;
      content: attr(data-text);
      color: t.$colorAccent;
      white-space: nowrap;
      transition: max-width 0.3s ease;
    }
    @media (hover: hover) {
      &:hover::before {
        max-width: 100%;
      }

      &:hover {
        color: rgba(t.$colorWhite, 0);
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__email {
  }

  &__hours {
  }
}
