@use "../tools" as t;

.services {
  width: 100%;
  @include t.fluid-prop("padding-top", 50, 100, 320, 1200);
  @include t.fluid-prop("padding-bottom", 40, 80, 320, 1200);

  &__header {
    width: 100%;
    @include t.flex-mix(space-between, flex-end, row, 30px);
    margin-bottom: 64px;

    @media (max-width: 1100px) {
      @include t.flex-mix(space-between, flex-start, column, 30px);
    }
  }

  &__description {
    width: 100%;
    max-width: 350px;
    color: rgba(t.$colorWhite, 0.8);
    @include t.fluid-prop("font-size", 16, 18, 320, 768);
  }

  &__slider.swiper {
    width: 100%;
    touch-action: pan-y !important;
  }

  &__cards.swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 286px);
    justify-content: space-between;
    gap: 18px;

    @media (max-width: 1240px) {
      display: flex !important;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: stretch !important;
      justify-content: flex-start;
      width: max-content;
      min-width: 100%;
      height: 445px;
      padding-bottom: 20px;
      gap: 0;
    }
  }

  &__slide.swiper-slide {
    flex: 0 0 286px;
    width: 286px;
    margin-top: 0 !important;
    border-radius: 15px;
    background-image: url("/src/assets/img/webp/service-1.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: t.$colorDarkBg;

    &:nth-child(2) {
      background-image: url("/src/assets/img/webp/service-2.webp");
    }
    &:nth-child(3) {
      background-image: url("/src/assets/img/webp/service-3.webp");
    }
    &:nth-child(4) {
      background-image: url("/src/assets/img/webp/service-4.webp");
    }
    &:nth-child(5) {
      background-image: url("/src/assets/img/webp/service-5.webp");
    }
    &:nth-child(6) {
      background-image: url("/src/assets/img/webp/service-6.webp");
    }
    &:nth-child(7) {
      background-image: url("/src/assets/img/webp/service-7.webp");
    }
    &:nth-child(8) {
      background-image: url("/src/assets/img/webp/service-8.webp");
    }
    &:nth-child(9) {
      background-image: url("/src/assets/img/webp/service-9.webp");
    }
    &:nth-child(10) {
      background-image: url("/src/assets/img/webp/service-10.webp");
    }
    &:nth-child(11) {
      background-image: url("/src/assets/img/webp/service-11.webp");
    }
    &:nth-child(12) {
      background-image: url("/src/assets/img/webp/service-12.webp");
    }
  }

  @media (max-width: 1240px) {
    .swiper-scrollbar {
      position: relative;
      width: 100%;
      height: 6px;
      overflow: hidden;
      border-radius: 3px;
      background-color: rgba(t.$colorWhite, 0.1);

      &-drag {
        height: 100%;
        border-radius: 3px;
        background-color: t.$colorAccent;
        cursor: pointer;
      }
    }
  }

  &__card {
    width: 286px;
    height: 440px;
    isolation: isolate;
    @include t.flex-mix(flex-start, flex-start, column);
    position: relative;
    padding: 173px 20px 20px 20px;

    &::before {
      z-index: -1;
      position: absolute;
      top: -5px;
      right: -5px;
      bottom: -5px;
      left: -5px;
      background-color: rgba(t.$colorDarkBg, 0.7);
      content: "";
      pointer-events: none;
    }
  }

  &__card-svg {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 64px;
    height: 64px;
    fill: t.$colorAccent;
  }

  &__card-title {
    margin-bottom: 30px;
    color: t.$colorWhite;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
  }

  &__card-description {
    margin-bottom: 30px;
    color: rgba(t.$colorWhite, 0.8);
  }

  &__card-price-box {
    margin-top: auto;
  }

  &__card-price-text {
    color: rgba(t.$colorWhite, 0.8);
  }

  &__card-price {
    color: t.$colorAccent;
    font-weight: 600;
  }

  &__button-box {
    width: 100%;
    @include t.flex-mix(center, center);
    margin-top: 50px;
  }
}
