@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/woff2/Inter_18pt-Regular.woff2") format("woff2");
  font-family: "Inter_18pt";
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/woff2/Inter_18pt-Medium.woff2") format("woff2");
  font-family: "Inter_18pt";
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 600;
  src: url("/src/assets/fonts/woff2/Inter_18pt-Semibold.woff2") format("woff2");
 font-family: "Inter_18pt";
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/woff2/Inter_24pt-Medium.woff2") format("woff2");
 font-family: "Inter_24pt";
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 600;
  src: url("/src/assets/fonts/woff2/Inter_24pt-SemiBold.woff2") format("woff2");
  font-family: "Inter_24pt";
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/woff2/Inter_28pt-Medium.woff2") format("woff2");
  font-family: "Inter_28pt";
  font-display: swap;
}







