@use "../tools" as t;

:root {
 
}

body {
  background-color: t.$colorDarkBg;
  background-color: #fff;
  color: t.$colorWhite;
  font-weight: 400;
  font-size: 16px;
  font-family: t.$font-18pt;
}

svg {
  fill: red;
  stroke: 1px solid red;

  use {
    width: 100%;
    height: 100%;
  }
}