@use "../tools" as t;
@use "../components";
@use "../base";

.page-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px 10px;
  background-color: t.$colorDarkBg;
  color: t.$colorWhite;
  font-family: t.$font;
  font-weight: 400;
  text-align: center;

  &__container {
    width: 100%;
    max-width: 480px;
    padding: 15px;
    border-radius: 15px;
    background-color: t.$colorLightBg;
  }

  &__badge {
    display: inline-block;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    color: t.$colorAccent;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  
  &__title {
    margin-bottom: 1rem;
    color: t.$colorAccent;
    font-weight: 700;
     @include t.fluid-prop("font-size", 26, 44, 320, 768);
    line-height: 1.2;
    font-family: t.$font;
  }

  &__text {
    margin-bottom: 2rem;
    color: t.$colorWhite;
       @include t.fluid-prop("font-size", 14, 18, 320, 768);
    line-height: 1.6;
  }

  &__counter {
    color: t.$colorAccent;
    font-weight: 700;
  }

  
  &__actions {
    display: flex;
    justify-content: center;
  }

  
}
