<div
  class="modal"
  id="modal-success"
  aria-hidden="true"
>
  <div class="modal__content success-modal">
    <button
      class="success-modal__close-btn"
      type="button"
      aria-label="Close modal"
    >
      ✕
    </button>

      <svg class="success-modal__svg">
        <use href="#icons-commons-repair"></use>
      </svg>
    

    <h2 class="success-modal__title">You're <span>All Set!</span></h2>

    <p class="success-modal__text">
     The hardest part is over—now we’ll just get your vehicle in shape!  We'll be in touch soon.
    </p>
  </div>
</div>
