@use "sass:map";

// Typography

$font-18pt: "Inter_18pt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-24pt: "Inter_24pt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-28pt: "Inter_28pt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;


// colors
$colorAccent:#DB323E;
$colorDarkBg:#222222;
$colorLightBg: #292929;
$colorWhite: #fff;

// System and Status Colors
$colorError:    #CC0000;
$colorSuccess:  #00BF36;
$colorModalBg:  #000000d1;

